<%- partial('_partial/post-header') %>
<div class="post-main">

    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-content-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>
        
        <% if (page.tags && page.tags.length) { %>
            <div class="post-content-meta tags">
                <div class="emo">#</div>
                <div>
                    <% page.tags.forEach(function(tag) { %>
                        <a href="<%= url_for(tag.path) %>"><%= tag.name %></a>
                    <% }); %>
                </div>
            </div>
        <% } %>

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>

</div>
<div class="post-header">
    <a class="go-home" href="javascript:history.back()">
        <svg width="8" height="14" viewBox="0 0 8 14">
            <path d="M7 1L1 7l6 6" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>
<% if(is_post() && theme.valine.enable ){%>
    <section id="comments">
        <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
        <div id="valine_thread"></div>
        <script>
            var META_INFO = ['nick','mail','link'], 
                meta = '<%= theme.valine.meta %>'.split(',').filter(function(item){
                    return META_INFO.indexOf(item) > -1
                }),
                serverURLs = '<%= theme.valine.serverURLs %>',
                vConfig = {
                    el: '#valine_thread',
                    meta: meta,
                    appId: "<%= theme.valine.appId %>",
                    appKey: "<%= theme.valine.appKey %>",
                    placeholder: "<%= theme.valine.placeholder %>",
                    pageSize:'<%= theme.valine.pageSize %>',
                    avatar:'<%= theme.valine.avatar %>',
                    lang:'<%= theme.valine.lang %>',
                    recordIP: '<%= theme.valine.recordIP %>',
                    enableQQ: '<%= theme.valine.enableQQ %>',
                };
            if(!!serverURLs) vConfig['serverURLs'] = serverURLs;
            var v = new Valine(vConfig);
            window.v = v
        </script>
        </section>
    <% }%>
    
